/*Footer*/

.footer {
    padding: 20px 0;
    margin-left: auto;
}

.footer__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nombre {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 0 15px;
}

.footer__logo {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    color: #000000;
    text-decoration: none;
    
}

.footer__logo:hover {
    text-decoration: underline;
}